* {
  font-family: "Inter", sans-serif;
  margin: 0;
  text-decoration: none;
  padding: 0;
  --root-color: #f72d3a;
  --root-color: black;

  --sidebar-width: 190px;
  --nav-head-height: 65px;

  box-sizing: border-box;
}
body {
  background-color: #141414;
}
